# Toolchain
libgtp5gnl/
# Go vendor
vendor/
# Goland project folder
.idea/
# Visual Studio Code
.vscode/
# emacs/vim
GPATH
GRTAGS
GTAGS
TAGS
tags
cscope.*
# mac
.DS_Store

# debug
testkeylog/
log/
*.log
*.pcap
config/test/smfcfg.test.yaml

# build
bin/
dist/
build/

# release
release/src

# webconsole
webconsole/bin
webconsole/public

tmp/*

packages/
free5gc.zip
__pycache__/
NFs/nwdaf-mtlf/*.db
NFs/nwdaf-mtlf/tmp
NFs/nwdaf-anlf/tmp
